.idea/
Pipfile.lock
venv/
.gitignore
.env

*.xml

belleda_fashion_project/

belleda/belleda_main/
belleda/design/
belleda/designer/
belleda/media/
static/

db.sqlite3

*.log

*__pycache__

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

/Pipfile.lock
db.sqlite3
